<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center">ACERINO PERÚ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="inicio-content">
    <img src="assets/img/logo.png" alt="Logo" class="logo" />
    <h1>Registro</h1>
  </div>
  <form
    [formGroup]="form"
    (ngSubmit)="register()"
    style="margin-left: 15px; margin-right: 15px"
  >
    <ion-list>
      <ion-input
        formControlName="nombre"
        label="Nombre"
        label-placement="floating"
        fill="solid"
        placeholder="Ingrese su nombre"
        type="text"
      ></ion-input>
      <br />
      <ion-input
        formControlName="apellido"
        label="Apellido"
        label-placement="floating"
        fill="solid"
        placeholder="Ingrese su apellido"
        type="text"
      ></ion-input>
      <br />
      <ion-input
        formControlName="email"
        label="Correo Electronico"
        label-placement="floating"
        fill="solid"
        placeholder="Ingrese su correo"
        type="email"
      ></ion-input>
      <br />
      <ion-input
        formControlName="pwd"
        label="Contraseña"
        label-placement="floating"
        fill="solid"
        placeholder="Ingrese su contraseña"
        type="password"
      ></ion-input>
      <br /><br />
      <ion-button expand="full" type="submit">
        <!-- Registrar -->
        @if (isloadingSubmitBtn) {
        <ion-spinner name="crescent"></ion-spinner>

        } @else { Registrar }
      </ion-button>
    </ion-list>
  </form>
  <div class="footer">
    <ion-button fill="none" routerLink="/login">Iniciar sesión</ion-button>
  </div>
</ion-content>
