<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center">Acerino Perú</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>ACERINO PERÚ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="inicio-content">
    <img src="assets/img/logo.png" alt="Logo" class="logo" />
    <h1>Iniciar sesión</h1>
  </div>
  <form
    [formGroup]="form"
    (ngSubmit)="registrar()"
    style="margin-left: 15px; margin-right: 15px"
  >
    <ion-list>
      <ion-input
        formControlName="email"
        label="Correo Electronico"
        label-placement="floating"
        fill="solid"
        placeholder="Ingrese su correo"
        type="email"
      ></ion-input>
      <br />
      <ion-input
        formControlName="pwd"
        label="Contraseña"
        label-placement="floating"
        fill="solid"
        placeholder="Ingrese su contraseña"
        type="password"
      ></ion-input>
      <br /><br />
      <ion-button expand="full" type="submit">
        <!-- Registrar -->
        @if (isloadingSubmitBtn) {
        <ion-spinner name="crescent"></ion-spinner>

        } @else { ingresar }
      </ion-button>
    </ion-list>
  </form>
  <div class="footer">
    <ion-button fill="none" routerLink="/registro">Registrarse</ion-button>
  </div>
</ion-content>
