<ion-app>
  <ion-menu side="start" menuId="m1" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <div class="menu-section">
          <div class="menu-content">
            <img src="assets/img/logo.png" alt="Logo" class="logo">
            <h1>Menu</h1>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        
        <ion-item routerLink="/home">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
        <ion-item routerLink="/tienda">
          <ion-icon slot="start" name="storefront-outline"></ion-icon>
          <ion-label>Tienda</ion-label>
        </ion-item>
        <ion-item routerLink="/nosotros">
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <ion-label>Nosotros</ion-label>
        </ion-item>
        <ion-item routerLink="/blog" *ngIf="isAuthenticated">
          <ion-icon slot="start" name="book-outline"></ion-icon>
          <ion-label>Blog</ion-label>
        </ion-item>

        
        <ion-item routerLink="/carrito" *ngIf="isAuthenticated">
          <ion-icon slot="start" name="cart-outline"></ion-icon>
          <ion-label>Ir al carrito</ion-label>
        </ion-item>
        <ion-item routerLink="/registro">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label>Registro</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
