<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>ACERINO PERÚ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="inicio-section">
    <div class="inicio-content">
      <img src="assets/img/logo.png" alt="Logo" class="logo">
      <h1>Blog</h1>
    </div>
  </div>

  <div class="content-section">
    <img src="assets/img/motoazada.jpg" alt="Maquinaria Agrícola">
    <h2>La evolución de la Motoazada y el Motocultor: Una nueva era para la Agricultura</h2>
    <p>Les presentamos el Mini Tractor de AcerinoPerú: un equipo compacto pero poderoso, diseñado para ser el compañero ideal en las labores agrícolas. Equipado con un motor de 13HP, doble tracción y toma de fuerza, este mini tractor proporciona la potencia necesaria para afrontar terrenos difíciles, luces LED y un capote protector que resguarda el motor de las inclemencias del tiempo.
      El Mini Tractor está pensado para ser un equipo multifuncional. Con su sistema de toma de fuerza, puedes equiparlo con una bomba de alta presión para riego eficiente, llantas de hierro para una mejor tracción en terrenos complicados, y una variedad de arados que se adaptan a las necesidades específicas de cada cultivo.  </p>
    
  </div>
 
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="direccion">
          <h3>Dirección:</h3>
          <p>Av.Malinas 123. Lima, Perú</p>
        </div>
      </ion-col>
      <ion-col size="6" class="social-media">
        <h3>Síguenos:</h3>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

